fastapi
uvicorn[standard]
supabase
python-multipart
bcrypt
PyJWT
pydantic[email]
tenacity
httpx
pyotp
qrcode
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-supabase
llama-index-readers-file
llama-index-readers-json
pandas
openpyxl
llama-index-tools-mcp
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-llms-mistralai
llama-index-embeddings-mistralai